div {padding: 8px;}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 6px;
}

#groupSetHeader{
    font-size: 18px;
    font-weight: bold;
}

body {
    font-family: arial;
    
}

td {
    word-wrap: break-word;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #660000;
    color: white;
}

#statsTable{
    table-layout: auto;
}

button {
    background-color: #00004d;
    display: inline-block;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    cursor: pointer;
}

.center{
    text-align: center;
}
.right{
    text-align:right;
}

.pointer{
    cursor: pointer;
}

h1{
    color: #00004d;
}
h2, h3, h4{
    color: #264d00;
}

