table {
  border: 1px solid black;
}

.urlbox {
  background: #999;
  border-radius: 3px;
  width: 300px;
  color: #000;
}

.pointer {
  cursor: pointer;
}

.identifier {
  max-width: 50px;
  display: block-inline;
  font-size: 50%;
  padding: 6px;
  color: #999;
  border: 1px solid #999;
  font-family: monospace;
}

.number {
  font-family: monospace;
  font-size: 80%;
  font-weight: 100;
}