div {padding: 8px;}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 6px;
}

#groupSetHeader{
    font-size: 18px;
    font-weight: bold;
}

body {
    font-family: arial;
    
}

.json{
    white-space: pre;
    font-family: monospace;
    font-size:13px;
}

td {
    word-wrap: break-word;
    position: relative
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #660000;
    color: white;
}

#statsTable{
    table-layout: auto;
}

.toggle {
    background-color: #00004d;
    display: inline-block;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    width: 100%;
    cursor: pointer;
}

.toggle:hover{
    background-color: #900C3F;
}

.center{
    text-align: center;
}
.right{
    text-align:right;
}

.pointer{
    cursor: pointer;
}

h1{
    color: #00004d;
}
h3, h4{
    color: #264d00;
}

td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

input[type=text] {
    padding: 12px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    text-align: center;
}

input[type=submit] {
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 12px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #08AD92;
}

.searchBar {
    padding-right: 16px;
}

.redContainer{
    border-left: 6px solid red;
    padding: 8px;
}

.greenContainer{
    border-left: 6px solid #264d00;
    padding: 8px;
}

.greenContainer th{
    background-color: #264d00;
    color: white;
}

.blueContainer{
    border-left: 6px solid darkcyan;
    padding: 8px;
}

.blueContainer h3 {
    color: darkcyan;
}

.blueContainer h4 {
    color: darkcyan;
}

.copyID{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button{
    background-color: #e7e7e7;
    color: black;
    border: solid darkgray;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    background-color: #900C3F;
}
